*{
    margin: 0;
    padding: 0;
}
@keyframes fade{
from{
    opacity: 0;
}to{
    opacity: 1;
}
}
ul, li{
    list-style: none;
}
header{
    padding-top: 2%;
    width: 100%;
    height: 15%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 22%;
}
.searching{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.input-search{
    background-color: #e7e7e7;
    opacity: 0.7;
    text-align: inherit;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    padding: 2%;
    border-radius: 10px 10px 10px 10px;
    font-size: 22px;
    width: 100%;
}
.input-search:hover{
    cursor: pointer;
    opacity: 1;
}
.input-search:focus{
    outline: none;
    opacity: 1;
}
.icon-search{
    width: 2%;
    position: relative;
    right: 9%;
    height: 2%;
}
.icon-search:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* Filters Section */

.hidden_button{
    display: none;
}
.all-filters{
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding-left: 5%;
    gap: 7em;
}
.btn-filter{
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    text-align: start;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 17%;
    padding-right:30%;
    font-size: 22px;
    color: white;
    border: none;
    width: 100%;
}
.btn-filter:focus{
    outline: none;
}
.btn-filter::placeholder{
    font-size: 22px;
    color: white;
}
.ingredients{
background-color: #3282f7;
}
.ingredients:hover{
    background-color: #3281f7ae;
    cursor: pointer;
}
.ingredients:focus{
    background-color: #3281f7ae;
}
.appareils{
background-color: #68d9a4;
}
.appareils:hover{
    background-color: #68d9a48c;
    cursor: pointer;
}
.appareils:focus{
    background-color: #68d9a48c;
}
.ustensiles{
background-color: #ed6454;
}
.ustensiles:hover{
    background-color: #ed6354ae;
    cursor: pointer;
}
.ustensiles:focus{
    background-color: #ed6354ae;
}
.arrow-down{
    background-color: transparent;
    position: relative;
    right: -117%;
    top: 100%;
    height: 50%;
    display: flex;
}
.arrow-down:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.container_button_arrow{
    gap: 5%;
    height: 50px;
}
/*-----------------*/
#section-recipes{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.recipe_card{
    animation: fade ease-in-out;
    animation-duration: 0.5s;
    background-color: #e7e7e7;
    border-radius: 15px 15px 15px 15px;
}
.recipe_card:hover{
    transform: scale(1.05);
}
.container_name_time{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-top: 5%;
    height: 50px;
}
.name{
margin-left: 5%;
font-size: 25px;
font-weight: 500;
}

.time{
display: flex;
margin-right: 15%;
font-size: 25px;
}
.time_icon{
    width: 20%;
    display: flex;
    margin-bottom: auto;
    padding-bottom: 90%;
    margin-right: 4%;
}
.container-time{
    display: flex;
    justify-content: end;
}
.container_entire_card{
    display: grid;

}
.container_grey_back{
    background-color: #c7bebe;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}
.container_ingredients{
    padding: 5%;
    width: 100%;
}
.container_ingredients li{
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
}
.important{
    font-weight: 600;
}
.description_card{
    font-size: 20px;
    width: 80%;
    margin: 5%; 
}
.container_desc_ing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 5%;
}
.container_hidden_filter{
    background-color: #3282f7;
    position: absolute;
    z-index: 400000;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1%;
}
.container_hidden_filter li{
    color: white;
    display: flex;
    align-items: center;
    margin: 2%;
    padding: 1%;
}
.container_hidden_filter li:hover{
    background-color: #5695f3;
    cursor: pointer;
}
.container_hidden_filter_appareils{
    background-color: #68d9a4;
    position: absolute;
    z-index: 400000;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1%;
}
.container_hidden_filter_appareils li{
    color: white;
    display: flex;
    margin: 2%;
    padding: 1%;
}
.container_hidden_filter_appareils li:hover{
    background-color: #b2e2cb;
    cursor: pointer;
}
.container_hidden_filter_ustensils{
    background-color: #ed6454;
    position: absolute;
    z-index: 400000;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1%;
}
.container_hidden_filter_ustensils li{
    color: white;
    display: flex;
    margin: 2%;
    padding: 1%;
}
.container_hidden_filter_ustensils li:hover{
    background-color: #edb2ac;
    cursor: pointer;
}
@keyframes changeSize{
    from{
        transform: scale(0.5);
    }to{
        transform: scale(1);
    }
}
#messageError{
    font-size: 24px;
    position: absolute;
    bottom: 61%;
    display: none;
    animation: changeSize 0.5s forwards;  
    color: #ed6454;
    font-weight: 600;
    padding: 0.5%;
    border: 1px solid #ed6454;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
/* Filter Button when clicked*/

#section-filter-ing{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3%;
    margin-left: 5%;
}

#test{
    color: white;
    font-size: 1.5em;
    grid-template-rows: 1fr 1fr;
    padding: 1.1%;
    width: 100%;
}

.container_button_cross{
    width: fit-content;
    display: flex;
    gap: 0.5em;
    width: 11em;
    padding: 1.5em;
    background-color: #3282f7;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
    margin: 1%;
}
.container_button_cross img{
    width: 15%;
    position: relative;
    left: 5%;
}
.container_button_cross img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.container_button_cross:hover{
    background-color: #5d98f1;
}
/*-----------------------------*/

@media screen and (max-width: 1700px){
    #section-recipes{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1000px){
    #section-recipes{
        grid-template-columns: 1fr;
    }
}